// https://stackoverflow.com/questions/54702124/rainbow-text-animation-using-only-css
@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

@keyframes arrow_animation {
    0%,100% {
        bottom: 20px;
    }

    50% {
        bottom: 10px;
    }
}


.container {
    display: flex;
    flex-direction: column;
}

.section {
    min-height: 100vh;
    position: relative;

    #splash {
        height: 50vh;
        display: flex;
        padding: 0;
        flex-direction: column;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        font-size: 5rem;
        text-transform: uppercase;
        font-weight: 800;

        #content {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(10px);
            background-color: rgb(0, 0, 0, 0.75);
        }
    }

    #info {
        font-size: 1.25rem;
        min-height: 50vh;

        a {
            position: relative;
            animation: none;
            opacity: 1;
            &:hover {
                animation: none;
            }
        }
    }

    a {
        position: relative;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.5;

        img {
            filter: invert(1);
            width: 3rem;
            height: auto;
        }

        &:hover {
            opacity: 1;
            animation: 1s arrow_animation infinite;
        }
    }

    section {
        padding: 0rem 10rem;
        display: grid;
        place-content: center;
    }
}

.test {
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: rgb(0, 0, 0);
    text-align: center;
    gap: 2rem;

    a {
        color: white;
        font-size: 10rem;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 800;
        padding: 2rem;
        border: 1px solid rgb(var(--text));
        transition: 0.5s ease all;

        &:hover {
            transform: translateY(-10px);
            background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            animation: rainbow_animation 3s ease-in-out infinite;
            background-size: 400% 100%;
        }
    }
}